@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --textPrimary: #535353;
  --textSecondary: #bfbfbf;
}
body {
  font-family: "Open Sans", sans-serif !important;
}
